Demo/pipeline/pipe05_filter.json
{
	"name": "pipe05_filter",
	"properties": {
		"activities": [
			{
				"name": "metadatos",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_generico_csv",
						"type": "DatasetReference",
						"parameters": {
							"containerName": "csvfiles",
							"fileName": "*.csv",
							"separatorName": ";"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Lookup_sql",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_generico_AzureSql",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "SalesLT",
							"tableName": "ProductCategory"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter_getmetadata",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "metadatos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('metadatos').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item().name,'C')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Filter_lookup_sql",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup_sql",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_sql').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().Name,'Bike')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Filter_lookup_csv_color",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup_csv",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_csv').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@not(contains(item().Cor,'azul'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup_csv",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_generico_csv",
						"type": "DatasetReference",
						"parameters": {
							"containerName": "csvfiles",
							"fileName": "csvColor.csv",
							"separatorName": ";"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"folder": {
			"name": "Lab_02"
		},
		"annotations": [],
		"lastPublishTime": "2022-02-19T04:30:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}